<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Add this repository to the list of available repositories -->
    <add key="WeFixCode Nuget Repository" value="https://wefixcode.pkgs.visualstudio.com/_packaging/Default/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>

  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
</configuration>